<div class="col-xs-12 col-sm-10 col-md-6 col-lg-4 col-sm-offset-1 col-md-offset-3 col-lg-offset-4">
  <div class="panel panel-info animated bounceInDown">

    <div class="panel-heading">
      <h2 class="panel-title">Login</h2>
    </div>

    <div class="panel-body">
      <div class="form-group">
        <input type="email" class="form-control input-lg" ng-model="form.email" placeholder="Enter your email" autofocus="autofocus">
      </div>

      <div class="form-group">
        <input type="password" class="form-control input-lg" ng-model="form.password" placeholder="Enter your password">
      </div>

      <div class="alert alert-danger" ng-show="error!=null">
        {{ error }}
      </div>
    </div>

    <div class="panel-footer">
      <button id="userLog" name="logIn" class="btn btn-primary btn-md btn-block" ng-disabled="noempty()" ng-click="logIn()">Log In</button>
    </div>

  </div>
</div>
