<div class="col-xs-12 col-sm-10 col-md-6 col-lg-4 col-sm-offset-1 col-md-offset-3 col-lg-offset-4">
  <div class="panel panel-info">

    <div class="panel-heading">
      <h2 class="panel-title">Registration on ToDO</h2>
    </div>

    <div class="panel-body">
      <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
        <div class="form-group">
          <input type="text" class="form-control input-lg" ng-model="registerForm.fName" placeholder="Enter Your name">
        </div>

        <div class="form-group">
          <input type="email" class="form-control input-lg" ng-model="registerForm.email" placeholder="Enter Your email">
        </div>

        <div class="form-group">
          <input type="password" class="form-control input-lg" ng-model="registerForm.password" placeholder="Enter Your password">
        </div>

        <div class="form-group">
          <input type="password" class="form-control input-lg" ng-model="registerForm.rePassword" placeholder="Enter Your password again">
        </div>

        <div class="alert alert-danger" ng-show="error===true">
          Password don't match!!! {{ error }}
        </div>
      </div>
    </div>

    <div class="panel-footer">
      <button name="SingUp" class="btn btn-primary btn-block btn-md" ng-click="sing()">Sing Up</button>
    </div>
  </div>
</div>
