<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ToDo</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a ui-sref="app.session_reg">Sing Up</a>
        </li>
        <li>
          <a ui-sref="app.session_log">Log In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container-fluid">
  <div ui-view>

  </div>
</div>
