<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="todoCreateCtrl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add new ToDo</h4>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="addForm.title" placeholder="Enter theme for new 'To Do'">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="addForm.text" placeholder="Enter description for new 'To Do'">
        </div>
        <div class="input-group">
          <input type="date" class="form-control" ng-model="addForm.deadline">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="save()" data-dismiss="modal">Save and Close</button>
      </div>
    </div>
  </div>
</div>
