<div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
  <!-- <div class="panel panel-info">

  <div class="panel-heading">
    List of ToDo
  </div>

  <div class="panel-body">
    <ul class="list-unstyled">
      <li ng-repeat="item in list">
        <div class="panel panel-default">
          <div class="panel-heading">
            <button type="button" class="close" ng-click="deleteTodo(item.data)">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only"></span>
            </button>
            {{ item.data.title }}
          </div>
          <div class="panel-body">
            {{ item.data.text }}
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="panel-footer">
    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal">
      Add new ToDo
    </button>
  </div>

</div> -->
  <div role="tabpanel">


    <ul class="nav nav-tabs" role="tablist">
      <li role="tab" class="active">
        <a href="/todo/#active" aria-controls="active" role="tab" data-toggle="tab" ng-click="$emit('todolistUpdate', 'active')">Active</a>
      </li>
      <li role="tab">
        <a href="/todo/#overdue" aria-controls="overdue" role="tab" data-toggle="tab" ng-click="$emit('todolistUpdate', 'overdue')">Overdue</a>
      </li>
      <li role="tab">
        <a href="/todo/#archived" aria-controls="archived" role="tab" data-toggle="tab" ng-click="$emit('todolistUpdate', 'archived')">Archived</a>
      </li>
      <li role="tab"><a href="/todo/#all" aria-controls="all" role="tab" data-toggle="tab" ng-click="$emit('todolistUpdate', 'all')">All</a></li>
    </ul>


    <div class="tab-content">

      <div role="tabpanel" class="tab-pane fade in active" id="active">
        <panel-list></panel-list>
      </div>

      <div role="tabpanel" class="tab-pane fade" id="overdue">
        <panel-list></panel-list>
      </div>

      <div role="tabpanel" class="tab-pane fade" id="archived">
      <panel-list></panel-list>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="all">
        <panel-list></panel-list>
      </div>
    </div>
  </div>






  <div ng-include="'modules/todo/views/create.html'">

  </div>


</div>
