<div class="panel panel-default">

  <table class="table table-bordered table-hover">
    <thead>
      <th>#</th>
      <th>Title</th>
      <th>Time lead</th>
    </thead>

    <tbody ng-repeat="item in list">
      <tr class="info" style="cursor: pointer;">
        <td>
          <a data-toggle="collapse" data-target="#{{item.data.todolist_id}}" aria-expanded="true" aria-control="{{item.data.todolist_id}}">
          {{item.data.todolist_id}}
        </a>
        </td>
        <td>
          <a data-toggle="collapse" data-target="#{{item.data.todolist_id}}" aria-expanded="true" aria-control="{{item.data.todolist_id}}">
          {{item.data.title}}
          <button type="button" class="close" ng-click="deleteTodo(item.data)">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only"></span>
          </button>
        </a>
        </td>
        <td>
          {{item.data.deadline | date: 'dd MMMM yyyy'}}
        </td>
      </tr>

      <tr id="{{item.data.todolist_id}}" class="collapse">
        <td colspan="3">
          {{item.data.text}}
        </td>
      </tr>
    </tbody>

  </table>

  <div class="panel-footer">
    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal">
      Add new ToDo
    </button>
  </div>
</div>
